<a href="https://colab.research.google.com/github/Hyenni/practice_python/blob/master/python_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **Exercise 1**

사과를 담는데 필요한 바구니의 수를 구하는 프로그램을 작성하시오.
(사과의 개수와 바구니에 담을 수 있는 사과의 개수를 입력받고, 필요한 바구니의 개수를 출력하도록 한다)

In [1]:
number_apple = input("the number of apples: ")
basket = input("the size of basket: ")

if (number_apple%basket) > 0:
    needs = number_apple/basket + 1
else:
    needs = number_apple/basket


print "Number of needed basket: ", needs

the number of apples: 123
the size of basket: 10
Number of needed basket:  13

* **Exercise 2**

변수의 num 값 중에 백의 자리 이하를 버리는 프로그램을 작성하시오.

In [2]:
num = input("Please enter a number: ")

remainder = num%100

final = num - remainder

print final

Please enter a number: 456
400

* **Exercise 3**

사용자로부터 4자리 숫자를 입력받아, 각 자리 수의 합을 구해 출력하는 프로그램을 구현하시오.

In [3]:
#version_1

num = input("input 4 digits: ")

i=0
sum=0

while i<4:
    sum = sum + num%10
    num = num/10
    i = i+1


print sum

input 4 digits: 1234
10

In [4]:
#version2
number = input("input 4 digits: ")

num1 = number / 1000;
number = number - (num1*1000);


num2 = number / 100;
number = number - (num2*100);


num3 = number / 10;
number = number - (num3*10);


num4 = number / 1;


print(num1 + num2 + num3 +num4)

input 4 digits: 9145
19

* **Exercise 4**

사용자로부터 입력받은 문자열의 길이 (문자의 개수)를 출력하는 프로그램을 작성하시오. 또한 자료형은 무엇인지 출력하시오.

In [5]:
string1 = raw_input("Please enter a string: ")

num = len(string1)
typ = type(string1)

print "Number of characters: %d" %num
print "Data type: %s" %typ

Please enter a string: hello!python
Number of characters: 12
Data type: <type 'str'>

* **Exercise 5**

while문을 이용하여 1부터 100까지 3으로 나눈 나머지가 2인 수들의 합을 계산하라.

In [6]:
i = 0
sum = 0

while i <= 100:
    if i%3 == 2:
        sum += i
        i += 1
    else:
        i += 1


print '3으로 나눈 나머지가 2인 수들의 합: ',sum

3으로 나눈 나머지가 2인 수들의 합:  1650

* **Exercise 6**

for문을 이용하여 1부터 20까지 4로 나눈 나머지가 0이거나 1인 수들의 곱을 계산하라.

In [7]:
result = 1

for i in range(1,21):
    if i%4 == 0:
        result *= i
    elif i%4 == 1:
        result *= i
    else:
        continue

print '4로 나눈 나머지가 0이거나 1인 수들의 곱(1~20): ',result

4로 나눈 나머지가 0이거나 1인 수들의 곱(1~20):  1222041600

* **Exercise 7**

사용자로부터 문자열과 숫자를 입력받아 숫자만큼 문자열을 반복하는 프로그램을 구현하시오.

In [8]:
string = raw_input("Please enter a string: ")
num = input("Please enter the number of times to repeat: ")


print string * num

Please enter a string: python
Please enter the number of times to repeat: 3
pythonpythonpython

* **Exercise 8**

사용자로부터 점수를 받아 해당하는 등급(a,b,c,d,e)을 출력하는 프로그램을 구현하시오.
[0 입력시 종료]

In [9]:
while True:
    score = input("Please enter your score: ")
    if score == 0:
        break
    elif score >= 90:
        print "A"
    elif score >= 80:
        print "B"
    elif score >= 70:
        print "C"
    elif score >= 60:
        print "D"
    else:
        print "E"

print 'end'

Please enter your score: 90
A
Please enter your score: 55
E
Please enter your score: 0
end

* **Exercise 9**

논리연산자의 이해

In [10]:
print 2 and 1
print 1 and 3
print bool(1 and 3)
print 2 or 1
print [[]] or 1
print bool([[]] or 1)
print [{}] and 1
print [{}] and 0
print '' or 1
print '' and 1

1
3
True
2
[[]]
True
1
0
1

* **Exercise 10**

컴퓨터가 0~30 사이의 정수를 임의로 생성하고, 사용자가 그 숫자를 맞히도록 유도하는 프로그램을 구현하시오.

In [11]:
import random

n = random.randint(0,30)

while True:
    num = input("Please enter a number between 0 and 30: ")
    if num == n:
        print "correct!"
        break
    elif num > n:
        print "too large!"
        continue
    else:
        print "too small!"
        continue

Please enter a number between 0 and 30: 25
too small!
Please enter a number between 0 and 30: 29
correct!

* **Exercise 11**

삼각형 출력하기

In [12]:
num = input("Please enter a number: ")
s = ''

for a in range(1,num+1):
    s = s + "*"*a
    print s
    s = ''



num = input("Please enter a number: ")
a=0
s=''

while a<num:
    s = s + "*"*num
    num = num - 1
    print s
    s = ''


num = input("Please enter a number: ")
s = ''

for a in range(1,num+1):
    s = s + ' '*(num-a) + "*"*a
    print s
    s = ''

Please enter a number: 5
*
**
***
****
*****
Please enter a number: 5
*****
****
***
**
*
Please enter a number: 5
    *
   **
  ***
 ****
*****

* **Exercise 12**

문자열 메소드 이해

In [13]:
#replace
s = 'Somewhere on the rainbow'

s = s.replace('on','over')
print s


s = raw_input("Write anything you want: ")
for i in s:
    if i in ["a","e","i","o","u"," "]:
        s = s.replace(i,"")
print s


#split
s = '/user/local/bin/python'

s = s.split('/')
print s


#count
s = '''Python is a dynamic object-oriented programming language
that can be used for many kinds of software development.
It offers strong support for integration with other languages
and tools, comes with extensive standard libraries, and can
be learned in a few days. Many Python programmers report
substantial productivity gains and feel the language encourages
the development of higher quality, more maintainable code.
'''

num = s.count("\n")
print num


#lower
s = 'spam Spam SpaM egg eGG Egg ham hAm'
num = s.lower().count('spam')
print num

Somewhere over the rainbow
Write anything you want: aabecidoeu
bcd
['', 'user', 'local', 'bin', 'python']
7
3

* **Exercise 13**

for문을 사용하여 어떤 주어진 문자열의 순서를 완전히 뒤집어라.

In [14]:
#version1

s='python'
s_new=''
length=len(s)

for i in s:
    length = length-1
    s_new = s_new + s[length]
print s_new

nohtyp

In [15]:
#version2

s='python'
s_new=''
length=len(s)

for i in range(1,length+1):
    s_new = s_new + s[length-i]

print s_new

nohtyp

* **Exercise 14**

다음 문장안의 단어들 길이의 평균을 구하는 프로그램을 작성하시오.

In [16]:
s = 'Write a program that calculates the average word length in a sentence'


words = s.split()
sum=0
k=0

for i in words:
    length = len(i)
    sum = sum + length
    k = k + 1
average = sum/k

print average

4

* **Exercise 15**

구(phrase)를 입력하면 두문자어(Acronym)으로 바꿔서 출력해주는 프로그램을 작성하시오.

In [17]:
s = raw_input("insert phrase: ")

acronym = ''
words = s.split()

for i in words:
    acronym = acronym + i[0].upper()
print s + "'s acronym: " ,acronym

insert phrase: central processing unit
central processing unit's acronym:  CPU

* **Exercise 16**

2진수로 표현된 자연수를 입력하면 10진수로 바꾸어 출력하는 프로그램을 작성하시오.

In [18]:
#version1
s = input("insert binary number: ")

num_two = s
prod = 1
num_ten = 0


while num_two<>0:
    number = num_two%10
    num_ten = num_ten + number*prod
    num_two = num_two/10
    prod *= 2
    
print '%d를 십진수로 표현하면 %d 입니다.' %(s,num_ten)

insert binary number: 10101
10101를 십진수로 표현하면 21 입니다.

In [19]:
#version2
num_two = raw_input('insert binary number: ')
num_list = list(num_two)
num_list.reverse()

print num_list

num_ten = 0
n = 0

for i in num_list:
    ten = int(i) * (2 ** n)
    num_ten += ten
    n += 1
  
print num_two + '를 십진수로 표현하면 ' + '%d' % (num_ten) + '입니다.'

insert binary number: 111000
['0', '0', '0', '1', '1', '1']
111000를 십진수로 표현하면 56입니다.

* **Exercise 17**

Find the sum of all the multiples of 3 or 5 below 1000.

In [20]:
sum = 0

for i in range(1,1000):
    if i%3 == 0 or i%5 == 0:
        sum += i

print sum

233168

* **Exercise 18**

문자열 s에 대해서 단어의 순서가 바뀐 문자열을 만들어라.

In [37]:
s = 'Sometimes I feel like a motherless child'

words = s.split()
words.reverse()
print words

string = ''
for w in words:
    string = string + w + ' '

print string

['child', 'motherless', 'a', 'like', 'feel', 'I', 'Sometimes']
child motherless a like feel I Sometimes

* **Exercise 19**

List Comprehension

In [23]:
x = [1,2,3,4,5]

square = [i*i for i in x]
print square


p = ['kim','hye','in']
last_name = [i[-1] for i in p ]
print last_name


y = [1,2,3,4,5,6,7,8,9,10]
multiple = [i for i in y if i%5==0]
print multiple


multiple7 = [(i,j,i*j) for i in range(3,100,3) for j in range(4,100,4) if (i+j)%7 == 0]
print multiple7

[1, 4, 9, 16, 25]
['m', 'e', 'n']
[5, 10]
[(3, 4, 12), (3, 32, 96), (3, 60, 180), (3, 88, 264), (6, 8, 48), (6, 36, 216), (6, 64, 384), (6, 92, 552), (9, 12, 108), (9, 40, 360), (9, 68, 612), (9, 96, 864), (12, 16, 192), (12, 44, 528), (12, 72, 864), (15, 20, 300), (15, 48, 720), (15, 76, 1140), (18, 24, 432), (18, 52, 936), (18, 80, 1440), (21, 28, 588), (21, 56, 1176), (21, 84, 1764), (24, 4, 96), (24, 32, 768), (24, 60, 1440), (24, 88, 2112), (27, 8, 216), (27, 36, 972), (27, 64, 1728), (27, 92, 2484), (30, 12, 360), (30, 40, 1200), (30, 68, 2040), (30, 96, 2880), (33, 16, 528), (33, 44, 1452), (33, 72, 2376), (36, 20, 720), (36, 48, 1728), (36, 76, 2736), (39, 24, 936), (39, 52, 2028), (39, 80, 3120), (42, 28, 1176), (42, 56, 2352), (42, 84, 3528), (45, 4, 180), (45, 32, 1440), (45, 60, 2700), (45, 88, 3960), (48, 8, 384), (48, 36, 1728), (48, 64, 3072), (48, 92, 4416), (51, 12, 612), (51, 40, 2040), (51, 68, 3468), (51, 96, 4896), (54, 16, 864), (54, 44, 2376), (54, 72, 3888), (57, 20, 1140), (57, 48, 2736), (57, 76, 4332), (60, 24, 1440), (60, 52, 3120), (60, 80, 4800), (63, 28, 1764), (63, 56, 3528), (63, 84, 5292), (66, 4, 264), (66, 32, 2112), (66, 60, 3960), (66, 88, 5808), (69, 8, 552), (69, 36, 2484), (69, 64, 4416), (69, 92, 6348), (72, 12, 864), (72, 40, 2880), (72, 68, 4896), (72, 96, 6912), (75, 16, 1200), (75, 44, 3300), (75, 72, 5400), (78, 20, 1560), (78, 48, 3744), (78, 76, 5928), (81, 24, 1944), (81, 52, 4212), (81, 80, 6480), (84, 28, 2352), (84, 56, 4704), (84, 84, 7056), (87, 4, 348), (87, 32, 2784), (87, 60, 5220), (87, 88, 7656), (90, 8, 720), (90, 36, 3240), (90, 64, 5760), (90, 92, 8280), (93, 12, 1116), (93, 40, 3720), (93, 68, 6324), (93, 96, 8928), (96, 16, 1536), (96, 44, 4224), (96, 72, 6912), (99, 20, 1980), (99, 48, 4752), (99, 76, 7524)]

* **Exercise 20**

python 기숙사는 10층으로 되어있고, 층 별로 1개의 방이 있다. 각 방에는 1-5명까지의 사람들이 들어갈 수 있다. 이 때, 각 층별 학생 수와 전체 학생 수를 출력하는 프로그램을 작성해보시오. [리스트 이용]

In [24]:
import random

sum=0
message = [0]*10

for i in range(0,10):
    n = random.randint(1,5)
    message[i] = "%d floor: %d person" %(i+1,n)
    print message[i]
    sum += n
print "total: %d person" %sum

1 floor: 1 person
2 floor: 3 person
3 floor: 4 person
4 floor: 1 person
5 floor: 4 person
6 floor: 2 person
7 floor: 2 person
8 floor: 2 person
9 floor: 4 person
10 floor: 2 person
total: 25 person

* **Exercise 21**

사용자로부터 자연수를 입력 받아 소수/합성수 여부를 판별하는 프로그램을 작성하시오.

In [28]:
import math

temp = True
while temp:
    number = input("insert natural number: ")
    if number == 1:
        print "1 is not prime number and composite number"
    elif number < 1:
        print "please insert natural number!!!"
        temp = False
    else:
        for i in range(2,number+1):
            if number%i == 0:
                print "%d is composite number" %number
                break
            else:
                print "%d is prime number" %number
                break

insert natural number: 10
10 is composite number
insert natural number: 137
137 is prime number
insert natural number: 1
1 is not prime number and composite number
insert natural number: 0
please insert natural number!!!

* **Exercise 22**

dictionary sorting

In [29]:
d = {'one':1,'two':2,'three':3,'four':4,'five':5}

#key
L = d.items()
L.sort()
print L

#value
L.sort(key = lambda item:item[1])
print L

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]
[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

* **Exercise 23**

사용자로부터 입력받은 어떤 문자열을 사전을 이용하여 주어진 문자열의 각 단어를 중복되지 않게 한번씩만 출력하는 프로그램을 작성하시오.

In [30]:
s = raw_input('insert string: ')

s = s.split()
dic = {}

for i in s:
        dic[i] = 0
        
print dic
print dic.keys()

insert string: one two one two three four
{'four': 0, 'three': 0, 'two': 0, 'one': 0}
['four', 'three', 'two', 'one']

* **Exercise 24**

주어진 문자열에서 단어를 순서대로 출력하시오. [단, 중복되는 단어는 한번만 출력되어야 하고 단어가 문자열에서 발생한 횟수도 함께 출력한다]

In [31]:
s = '''we propose to start by making it possible to teach programming in python
an existing scripting language and to focus on creating a new development
environment and teaching materials for it'''

list = s.split()

dic = {}

for i in list:
    b = list.count(i)
    print b, i

    dic[i]=b

print dic

1 we
1 propose
3 to
1 start
1 by
1 making
2 it
1 possible
3 to
1 teach
1 programming
1 in
1 python
1 an
1 existing
1 scripting
1 language
2 and
3 to
1 focus
1 on
1 creating
1 a
1 new
1 development
1 environment
2 and
1 teaching
1 materials
1 for
2 it
{'and': 2, 'it': 2, 'existing': 1, 'in': 1, 'for': 1, 'start': 1, 'environment': 1, 'to': 3, 'new': 1, 'development': 1, 'we': 1, 'creating': 1, 'python': 1, 'propose': 1, 'possible': 1, 'focus': 1, 'teaching': 1, 'teach': 1, 'an': 1, 'by': 1, 'a': 1, 'on': 1, 'language': 1, 'programming': 1, 'materials': 1, 'making': 1, 'scripting': 1}

In [42]:
from google.colab import files
files.upload()

Saving test1.txt to test1.txt

{u'test1.txt': 'its power python developers typically report\r\nthey are able to develop applications in a half\r\nto a tenth the amount of time it takes them to do\r\nthe same work insuch language as c\r\na b c d\r\n'}

In [43]:
!ls -al

total 20
drwxr-xr-x 1 root root 4096 Dec  1 07:45 .
drwxr-xr-x 1 root root 4096 Dec  1 05:43 ..
drwxr-xr-x 1 root root 4096 Nov 29 18:21 .config
-rw-r--r-- 1 root root    0 Dec  1 07:38 number.txt
drwxr-xr-x 2 root root 4096 Nov 29 18:21 sample_data
-rw-r--r-- 1 root root  191 Dec  1 07:45 test1.txt

* **Exercise 25**

test1.txt.파일 내용을 한꺼번에 읽고, dictionary 하나를 생성하여 key에는 단어, value에는 이 단어의 빈도 수를 저장하시오.

In [47]:
f = open('test1.txt','r')

text = f.read()
print text
words = text.split()


dic = {}


for word in words:
    dic[word] = dic.get(word,0) + 1


print dic

its power python developers typically report
they are able to develop applications in a half
to a tenth the amount of time it takes them to do
the same work insuch language as c
a b c d

{'it': 1, 'as': 1, 'are': 1, 'in': 1, 'tenth': 1, 'its': 1, 'insuch': 1, 'develop': 1, 'takes': 1, 'able': 1, 'same': 1, 'to': 3, 'developers': 1, 'do': 1, 'them': 1, 'power': 1, 'python': 1, 'applications': 1, 'they': 1, 'half': 1, 'report': 1, 'a': 3, 'c': 2, 'b': 1, 'd': 1, 'language': 1, 'of': 1, 'work': 1, 'amount': 1, 'time': 1, 'the': 2, 'typically': 1}

* **Exercise 26**

1. Make a function that calculate a square of a argument.

2. Make a function that calculate a circumference of a circle with using two arguments, radius and pie.

3. Make a function that calculate a area of a circle with using two arguments, radius and pie

In [48]:
import math

def fun_sqr(num):
    return num**2

def fun_circum(radius):
    return 2*math.pi*radius

def fun_area(radius):
    return math.pi*radius*radius

num = input('input number: ')

square_num = fun_sqr(num)
cir = fun_circum(num)
area = fun_area(num)

print 'square num: %d' %square_num
print 'circum: %f area: %f' % (cir, area)

input number: 2
square num: 4
circum: 12.566371 area: 12.566371

* **Exercise 27**

Write a function to meet this specification.
- squreEach modifies the list by equaring each entry

In [49]:
def squareEach(list):
    square_list = [(x,y,int(x)*int(y)) for x in list for y in list]
    return square_list

l = raw_input('input number list: ')
li = l.split()

print squareEach(li)

input number list: 1 2 3 4 5
[('1', '1', 1), ('1', '2', 2), ('1', '3', 3), ('1', '4', 4), ('1', '5', 5), ('2', '1', 2), ('2', '2', 4), ('2', '3', 6), ('2', '4', 8), ('2', '5', 10), ('3', '1', 3), ('3', '2', 6), ('3', '3', 9), ('3', '4', 12), ('3', '5', 15), ('4', '1', 4), ('4', '2', 8), ('4', '3', 12), ('4', '4', 16), ('4', '5', 20), ('5', '1', 5), ('5', '2', 10), ('5', '3', 15), ('5', '4', 20), ('5', '5', 25)]

* **Exercise 28**

Write a program which have menu to calculate two input. In the menu, You can choose operations such as addition, subtraction, multiplication, division and quit

In [50]:
def select_menu():
    print '0. Add'
    print '1. Sub'
    print '2. Mul'
    print '3. Div'
    print '4. Quit'
    
    return 0

def Add(num1,num2):
    return num1+num2

def Sub(num1,num2):
    return num1-num2

def Mul(num1,num2):
    return num1*num2

def Div(num1,num2):
    return num1/float(num2)


print '---Select menu---'
select_menu()

while True:
    select_num = input('Select menu: ')
    if select_num == 4:
        print 'Bye bye~ :)'
        break
    
    first = input('First Operand: ')
    second = input('Second operand: ')

    if select_num == 0:
        result = Add(first,second)
        print "Result = %d" %result
    
    elif select_num == 1:
        result = Sub(first,second)
        print "Result = %d" %result
    
    elif select_num == 2:
        result = Mul(first,second)
        print "Result = %d" %result
    
    elif select_num == 3:
        result = Div(first,second)
        print "Result = %5.2f" %result

---Select menu---
0. Add
1. Sub
2. Mul
3. Div
4. Quit
Select menu: 0
First Operand: 2
Second operand: 5
Result = 7
Select menu: 3
First Operand: 10
Second operand: 20
Result =  0.50
Select menu: 4
Bye bye~ :)

* **Exercise 29**

Dictionary에 고객 id와 pw를 저장한 후, id와 pw를 검사하는 프로그램을 구현하시오.

In [52]:
dic = {'kim':'12345','lee':'abcde','choi':'abc12'}

while True:
    print 'please enter your id and password'
    id = raw_input('id: ')
    if id in dic:   
        pw = raw_input('password: ')
        if pw == dic[id]:
            print 'welcome! %s coustomer' %id
            break
        else:
            print 'not correct password'
            continue
    else:
         print 'not correct id, no coustomer'
         continue

please enter your id and password
id: kim
password: 1234
not correct password
please enter your id and password
id: kim
password: 12345
welcome! kim coustomer

* **Exercise 30**

이름과 전화번호를 저장하는 전화번호부를 만드는 프로그램을 작성하시오. [사전을 사용 key:이름, value:전화번호]

In [53]:
print '---program---'

def select_menu():
    print '1. print'
    print '2. add'
    print '3. delete'
    print '4. search'
    print '5. quit'
    
dic = {}

def show():
    length = len(dic)
    print 'total number: %d ' %length, dic
    
def add(name,number):
    dic[name]=number
    
def delete(name):
    del dic[name]

def search(name):
    if name in dic:
        print dic[name]
    else:
        print 'Not on the list'
    
    
select_menu()


while True:
    num = input('insert menu number: (1-5) ')
    if num == 5:
        break
    elif num == 1:
        show()
        continue
    elif num == 2:
        print 'add'
        name = raw_input('name: ')
        number = input('number: ')
        add(name,number)
        continue
    elif num == 3:
        print 'delete'
        name = raw_input('name: ')
        delete(name)
        continue
    elif num == 4:
        print 'search'
        name = raw_input('name: ')
        search(name)
        continue

---program---
1. print
2. add
3. delete
4. search
5. quit
insert menu number: (1-5) 2
add
name: hyein
number: 12345
insert menu number: (1-5) 2
add
name: python
number: 54321
insert menu number: (1-5) 1
total number: 2  {'python': 54321, 'hyein': 12345}
insert menu number: (1-5) 4
search
name: python
54321
insert menu number: (1-5) 3
delete
name: python
insert menu number: (1-5) 1
total number: 1  {'hyein': 12345}
insert menu number: (1-5) 5

* **Exercise 31**

문자열의 'a','b','c','d' 각 문자에 대해서 'w','x','y','z'으로, 또한  'w','x','y','z'는 'a','b','c','d'로 변환하는 프로그램을 작성하라.

In [56]:
replace = {'a':'w','b':'x','c':'y','d':'z'}
replace2 = {'w':'a','x':'b','y':'c','z':'d'}

swap=''

s = input('input string: ')

for element in s:
    if element in replace:
        swap += replace[element]
    elif element in replace2:
        swap += replace2[element]
    else:
        swap += element
        
print swap

input string: 'cabsz'
ywxsd

* **Exercise 32**

함수 total을 정의하시오. 이 함수는 임의의 개수의 인수를 받아서 그 합을 계산한다.

In [57]:
#version1
def sum_all(*args):
    result = 0
    for i in args:
        result += i
    return result
 
print 'sum_all(1, 2, 3, 4, 5) total argument sum is ',sum_all(1, 2, 3, 4, 5)
print 'sum_all(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11) total argument sum is ',sum_all(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print 'sum_all(5, 6) total argument sum is ',sum_all(5,6)

sum_all(1, 2, 3, 4, 5) total argument sum is  15
sum_all(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11) total argument sum is  55
sum_all(5, 6) total argument sum is  11

In [58]:
#version2
def sum_all2(*args):
    return reduce(lambda x, y: x+y, args)

print sum_all2(1,2)
print sum_all(1,5,7,2,3)

3
18

* **Exercise 33**

lambda function

In [59]:
sum = lambda x,y:x+y

num1 = input('enter number1: ')
num2 = input('enter number2: ')

print '%d + %d = ' % (num1, num2), sum(num1,num2)
  
square = lambda x:x*x
num = input('enter number(square): ')
print 'square number: ', square(num)

last = lambda x:x[-1]
s = raw_input('enter string: ')
print 'last string: ', last(s)

multiple = lambda x:x%5==0
num = input('enter number: ')
print 'multiple of 5: ', multiple(num)

enter number1: 5
enter number2: 10
5 + 10 =  15
enter number(square): 3
square number:  9
enter string: python programming is funny
last string:  y
enter number: 4
multiple of 5:  False

* **Exercise 34**

함수적 프로그래밍

In [60]:
X=[1,2,3,4,5]

Y = map(lambda x:x*x,X)
print Y

S=['kim','lee','choi']

Y = map(lambda x:x[-1],S)
print Y

[1, 4, 9, 16, 25]
['m', 'e', 'i']

In [61]:
X=[1,2,3,4,5,6,7,8,9,10]

Y=filter(lambda x:x%5==0,X)
print Y

Z=filter(lambda x:x%5==0 or x%7==0,X)
print Z

[5, 10]
[5, 7, 10]

In [62]:
img = ['a.jpg','a_thumb.jpg','b.jpg','b_thumb.jpg']

#version1
X = filter(lambda x:'thumb' in x,img)
print X

#version2
Y = filter(lambda x:x.endswith('thumb.jpg'),img)
print Y

['a_thumb.jpg', 'b_thumb.jpg']
['a_thumb.jpg', 'b_thumb.jpg']

In [63]:
def makeAcro(s):
    list = s.split()
    print list
    Y = map(lambda x:x[0],list)
    print Y
    
    join_acro = ''.join(Y)
    print join_acro
    

makeAcro('as soon as possible')

['as', 'soon', 'as', 'possible']
['a', 's', 'a', 'p']
asap

In [64]:
def fact(num):
    if num == 1: return 1
    return num * fact(num-1)

print fact(10)

3628800

In [65]:
fib = []

def fibonacci(n):
    count=0
    a, b = 0, 1
    for i in range(n):
        a, b = b, a + b
        fib.append(b)

        if b<1000 and b%2 == 0:
            count += b
            
    print count
    return fib
  

print fibonacci(30)

798
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269]